<div class="login">
	<form class="hidden">
		<h1>登录</h1>
		<div class="input-wrap">
			<input type="text" placeholder="邮箱或者用户名">
			<span class="form-required">*</span>
		</div>
		<div class="input-wrap">
			<input type="password" placeholder="密码">
			<span class="form-required">*</span>
		</div>
		<a class="fplink">忘记密码了？</a>
		<div class="bottom-row">
			<div class="field-wrap">
				<input type="checkbox" id="logincheck"/> 
				<label for="logincheck">记住密码</label>  
			</div>
			<input type="submit" value="登录">
		</div>
	</form>

	<form accept-charset="UTF-8" action="/user" id="new_user" method="post" name="myform">
		<h1>注册</h1>
		<div class="input-wrap">
			<input class="form-item" type="text" placeholder="邮箱" name="user[email]">
			<span class="form-required">*</span>
		</div>
		<div class="input-wrap">
			<input class="form-item" type="text" placeholder="昵称" name="user[name]">
			<span class="form-required">*</span>
		</div>
		<div class="input-wrap">
			<input class="form-item" type="password" placeholder="密码" name="user[password]">
			<span class="form-required">*</span>
		</div>
		<div class="input-wrap">
			<input class="form-item" type="password" placeholder="确认密码" name="user[password_confirmation]">
			<span class="form-required">*</span>
		</div>
		<div class="bottom-row">
			<div class="field-wrap">
				<input type="checkbox" id="logincheck"/>
				<label for="logincheck">记住密码</label>
			</div>
			<input id="submit" type="submit" value="注册" name="commit" value="Create my account" >
		</div>
	</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$(".input-wrap input").focus(function() {
		$(this).parent().css("border-color", "#09C")
	})
	$(".input-wrap input").blur(function() {
		$(this).parent().css("border-color", "#CCC")
	})

	//check all input get content
	$(".form-item").keyup(function() {
		var inputsFilled = true
		$(".form-item").each(function(){
			if($(this).val() === ""){
				inputsFilled = false
			}
		})
		if(inputsFilled){
			$("#submit").addClass("active")
		}else{
			$("#submit").removeClass("active")
		}
	})
})

</script>

