.container.main-body(ms-controller="userinfo")
  .info-wrap
    %img.avatar{:src => "/assets/default_avatar.jpg"}
    %h3.page-header
      = @user.name
      <br/>
      %small
        %a{:href => "mailto:#{@user.email}"}
          = @user.email
  .panel-list
    .panel.panel-info
      .panel-heading
        购买的算法【2】
        %a.btn.btn-info{:href=>"/search"} 购买一个算法
      .panel-body
        .panel-group#accordion{:role=>"tablist",'aria-multiselectable'=>"true"}
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a{:href => "#collapseOne",'data-toggle'=>"collapse",'data-parent'=>"#accordion",'aria-expanded'=>"true",'aria-controls'=>"collapseOne"} 基于HMM的中文分词算法
            .panel-collapse.collapse.in#collapseOne{:role=>"tabpanel"}
              .panel-body
                %p 该算法使用最基本的模型进行中文分词
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a{:href => "#collapseTwo",'data-toggle'=>"collapse",'data-parent'=>"#accordion",'aria-expanded'=>"false",'aria-controls'=>"collapseTwo"} 快速排序python版
            .panel-collapse.collapse#collapseTwo{:role=>"tabpanel"}
              .panel-body
                %p python实现的一行排序

    .panel.panel-success
      .panel-heading
        发布的算法【1】
        %a.btn.btn-success{:href=>"/create"} 发布一个算法
      .panel-body
        .panel-group#accordion-1{:role=>"tablist",'aria-multiselectable'=>"true"}
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a{:href => "#collapseThree",'data-toggle'=>"collapse",'data-parent'=>"#accordion-1",'aria-expanded'=>"true",'aria-controls'=>"collapseThree"} 回归分析梯度下降python版
            .panel-collapse.collapse.in#collapseThree{:role=>"tabpanel"}
              .panel-body
                %p python实现的梯度下降