<div class="m-mainbody">
	<div class="m-left-column personal-info">
		<div class="avatar-wrap">
			<img src="https://avatars2.githubusercontent.com/u/4938243?v=2&s=460" alt="avatar">
		</div>
		<div class="info">
			<strong><%= @user.name %></strong><br/>
			<span><%= @user.email %></span><br/>
		</div>
	</div>
	<div class="m-right-column personal-alg">
		<h3>创建的算法</h3>
		<div class="alg-list">
			<ul>
				<li>
					<h4><a href="#">alg name</a></h4>
					<span class="" href="#">charge info</span> / 
					<span class="" href="#">charge bynow</span>
					<div>descriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescription</div>
					<span class="call-times" href="#" title="被调用次数">
						<b>15</b>
						<span class="glyphicon glyphicon-cloud-upload">
					</span>
				</li>
				<li>2</li>
			</ul>
		</div>
		<h3>正在使用的算法</h3>
		<div class="alg-list">
			<ul>
				<li>1</li>
				<li>2</li>
			</ul>
		</div>
	</div>
</div>