.container
  %h3.page-header
    创建我的算法
  .row
    .col-lg-4
    %form.col-lg-4{action:"alg_info",method:"post", 'accept-charset'=>"UTF-8"}
      %input.form-control{type:"text",placeholder:"算法唯一标识",name:"name"}
      %input.form-control{type:"text",placeholder:"描述",name:"desc",style:"margin-top:10px;"}
      %button.form-control.btn.btn-primary{type:"submit",style:"margin-top:10px; width:100px;"} 保存