$bgc : #09c;
$bordergrey: #ccc;
$hintgrey: #999;
@mixin inb {
	display:inline-block;
	*display:inline;
	*zoom:1;
}
@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* common class */
.fr{float:right}
.fl{float:left;}
.hidden{display:none;}

/* layout style */

/* common component */
.alert-error{
	text-align:center;
	color: #c30;
	background-color: #fdf;
}

