%p.text-muted.pull-right{:style=>"text-align:right;margin-top:16px; margin-right:15px;"}
  - if !current_user.nil?
    你好,
    %a{:href => "/info"}
      = current_user.name
    %a.glyphicon.glyphicon-log-out{:href => "/signout", 'data-method'=>"delete", :style=>"cursor:pointer;margin-left:5px;"}
  - else
    %a#signin{:href => "/signin"}
      Sign in