<div class="login" ng-controller="loginCtrl">
	<form class="login-form " ng-class="{'hidden': formLink !== 'login'}">
		<h1>登录</h1>
		<div class="link-hint">
			还没有帐号？<a href="javascript:void(0)" ng-click="linkTo('signup')">点此注册</a>
		</div>

		<!-- email -->
		<div class="input-wrap" ng-class="{'input-focus': focusIn === 'session[email]'}">
			<input class="form-item" type="text" placeholder="注册邮箱" name="session[email]" 
			ng-model="userLoginData.email" 
			ng-change="checkEnableLogin()" 
			ng-focus="inputFocus($event)" 
			ng-blur="inputBlur()">
			<span class="form-required">*</span>
		</div>
		<div class="form-hint hidden" ng-class="{'hidden': loginHint.email || userLoginData.email === ''}">
			<small>请输入正确邮箱格式</small>
		</div>
		
		<!-- password -->
		<div class="input-wrap" ng-class="{'input-focus': focusIn === 'session[password]'}">
			<input class="form-item" type="password" placeholder="密码" name="session[password]" 
			ng-model="userLoginData.password" 
			ng-change="checkEnableLogin()"
			ng-focus="inputFocus($event)"
			ng-blur="inputBlur()">
			<span class="form-required">*</span>
		</div>
		<div class="form-hint hidden" ng-class="{'hidden': loginHint.password || userLoginData.password === ''}">
			<small>密码长度至少为6位</small>
		</div>
		
		<!-- operate -->
		<a class="fplink">忘记密码了？</a>
		<div class="bottom-row">
			<div class="field-wrap">
				<input type="checkbox" id="logincheck" name="session[remember]" ng-model="userLoginData.remember"/> 
				<label for="logincheck">记住我</label>  
			</div>
			<input id="login_submit" class="login-bt"  type="submit"  value="登录" name="commit" 
			ng-class="{'active': enableLogin}" ng-click="loginSubmit()">
		</div>
	</form>

	<form class="signup-form" ng-class="{'hidden': formLink !== 'signup'}">
		<h1>注册</h1>
		<div class="link-hint">
			已经有帐号了？<a href="javascript:void(0)" id="link_to_login" ng-click="linkTo('login')">点此登录</a>
		</div>

		<!-- email -->
		<div class="input-wrap" ng-class="{'input-focus': focusIn === 'user[email]'}">
			<input class="form-item" type="text" placeholder="邮箱" name="user[email]" 
			ng-model="userSignupData.email" 
			ng-change="checkEnableSignup()"
			ng-focus="inputFocus($event)" 
			ng-blur="inputBlur()">
			<span class="form-required">*</span>
		</div>
		<div class="form-hint" ng-class="{'hidden': signupHint.email || userSignupData.email === ''}">
			<small>请输入正确邮箱格式</small>
		</div>
		
		<!-- name -->
		<div class="input-wrap" ng-class="{'input-focus': focusIn === 'user[name]'}">
			<input class="form-item" type="text" placeholder="昵称" name="user[name]" 
			ng-model="userSignupData.name"
			ng-change="checkEnableSignup()"
			ng-focus="inputFocus($event)" 
			ng-blur="inputBlur()">
			<span class="form-required">*</span>
		</div>
		<div class="form-hint" ng-class="{'hidden': signupHint.name || userSignupData.name === ''}">
			<small>用户名太短了</small>
		</div>
		
		<!-- password -->
		<div class="input-wrap" ng-class="{'input-focus': focusIn === 'user[password]'}">
			<input class="form-item" type="password" placeholder="密码" name="user[password]" 
			ng-model="userSignupData.password"
			ng-change="checkEnableSignup()"
			ng-focus="inputFocus($event)" 
			ng-blur="inputBlur()">
			<span class="form-required">*</span>
		</div>
		<div class="form-hint" ng-class="{'hidden': signupHint.password || userSignupData.password === ''}">
			<small>密码长度至少为6位</small>
		</div>
		
		<!-- password confirm -->
		<div class="input-wrap" ng-class="{'input-focus': focusIn === 'user[password_confirmation]'}">
			<input class="form-item" type="password" placeholder="确认密码" name="user[password_confirmation]" ng-model="userSignupData.password_confirmation"
			ng-change="checkEnableSignup()"
			ng-focus="inputFocus($event)" 
			ng-blur="inputBlur()">
			<span class="form-required">*</span>
		</div>
		<div class="form-hint" ng-class="{'hidden': signupHint.password_confirmation || userSignupData.password_confirmation === ''}">
			<small>密码不匹配</small>
		</div>
		
		<!-- operation -->
		<div class="bottom-row">
			<input id="signup_submit" type="submit" value="注册" name="commit" 
			ng-class="{'active': enableSignup}" ng-click="signupSubmit()">
		</div>
	</form>

	<div class="link-github-wrap">
		其它方式登陆 
		<a href="https://github.com/login/oauth/authorize?client_id=<%= @client_id %>" title="Github">
			<img src="/assets/github-100-black.png">
		</a>
	</div>
</div>
